<form [formGroup]="myForm" (submit)="submit()" novalidate>

  <button mat-button>
    <mat-icon>face</mat-icon>
    Click me!
  </button>
  <br>

  <mat-checkbox>Check me!</mat-checkbox>
  <br>

  <hr>
  <mat-form-field class="example-full-width" >
    <input matInput placeholder="Favorite food" formControlName="food">
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <hr>

  <button mat-button type="submit">Submit</button>
</form>

<hr>
<p>{{ myForm.value | json }}</p>
