<div class="mat-app-background">
<mat-sidenav-container class="app-sidenav-container" [ngClass]="currentTheme" autosize>
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall()"
               [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Contacts
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let user of users | async" [routerLink]="['/contactmanager', user.id]">
        <div matLine>
          <mat-icon [svgIcon]="user.avatar"></mat-icon> {{ user.name }}
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content mat-app-background">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"
                 (toggleTheme)="toggleTheme()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
</div>
