<!--<div class="loading-stage">-->
  <!--<div class="loading-bar" #loadingBar>-->
    <!--{{ getPercentage() }}%-->
  <!--</div>-->
<!--</div>-->
<!--<button (click)="upload('test')">test</button>-->

<!--<p [@myAwesomeAnimation]='state' (click)="animateMe()">I will animate</p>-->

<div #svg class="svg-view">
  <svg class="full" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 577 519">
    <path id="rect-right" fill="#c69c6d" stroke="#000" stroke-miterlimit="10" d="M.5.5h247v32H.5z"/>
    <path id="rect-left" fill="#7ac943" stroke="#000" stroke-miterlimit="10" d="M247.5.5h247v32h-247z"/>
    <rect id="tower" x="214.5" y="73.5" width="263" height="388" rx="131.5" ry="131.5" fill="#ccc" stroke="#231f20" stroke-linecap="round" stroke-miterlimit="10"/>
    <g id="info" stroke="#000" stroke-miterlimit="10">
      <path id="outer" fill="#7ac943" d="M.5 127.5h147v280H.5z"/>
      <g id="boxes" fill="#f2f2f2">
        <path id="bottom" d="M25.5 158.5h98v48h-98z"/>
        <path id="middle" d="M24.5 243.5h98v48h-98z"/>
        <path id="top" d="M24.5 328.5h98v48h-98z"/>
      </g>
    </g>
    <path id="tower-box1" fill="#f2f2f2" stroke="#231f20" stroke-linecap="round" stroke-miterlimit="10" d="M283.5 148.5h112v223h-112z"/>
    <path id="tower-box2" fill="#0f0" stroke="#231f20" stroke-linecap="round" stroke-miterlimit="10" d="M325.5 215.5h35v217h-35z"/>
    <path id="containment" fill="#0f0" stroke="#231f20" stroke-linecap="round" stroke-miterlimit="10" d="M155.5 441.5h421v77h-421z"/>
    <path id="donut" d="M481.81 397.88h-42.25a42.5 42.5 0 0 0-42.5 42.5v42.5a42.5 42.5 0 0 0 42.5 42.5h42.25a42.5 42.5 0 0 0 42.5-42.5v-42.5a42.5 42.5 0 0 0-42.5-42.5zm-21.12 107.75a44 44 0 1 1 44-44 44 44 0 0 1-44 44z" transform="translate(-31 -45)" fill="#0f0" stroke="#231f20" stroke-linecap="round" stroke-miterlimit="10"/>
  </svg>
</div>
<!--<button (click)="unregisterEvents()">unregister events</button>-->

