p {
  width:200px;
  background:lightgray;
  margin: 100px auto;
  text-align:center;
  padding:20px;
  font-size:1.5em;
}

.full {
  //height: 800px;
  //width: 100vw;
  //height: 100vh;
  //width: 80%;
  max-height: 90vh;
  padding: 20px;
}

.svg-view {
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.loading-stage {
}

.loading-bar {
  height:52px;
  color:white;
  padding:0px 8px;
  line-height:52px;
  font-size:1.5rem;
  text-align:right;
  background:#009688;
  transition:0.5s width cubic-bezier(.35, 0, .25, 1);
}
