<div *ngIf="user; else loading">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon mat-card-avatar [svgIcon]="user.avatar"></mat-icon>
      <mat-card-title>
        <h2>{{ user.name }}</h2>
      </mat-card-title>
      <mat-card-subtitle>Birthday {{ user.birthDate | date:'d LLLL' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Bio">
          <p>
            {{ user.bio }}
          </p>
        </mat-tab>
        <mat-tab label="Notes">
          <app-notes [notes]="user.notes"></app-notes>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
